{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/shop/styleShop.css">
    <link rel="stylesheet" href="/assets/main/cart/styleCart.css">
{% endblock %}
{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Panier</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
<div id="content">
    <div class="cart">
        {% if items | length > 0%}
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }} €</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }} €</td>
                            <td><a href="{{ path('cart_add', {'id':item.product.id}) }}"><i class="fas fa-plus-square"></i></a></td>
                            <td><a href="{{ path('cart_remove', {'id':item.product.id}) }}"><i class="fas fa-minus-square"></i></a></td>
                                {# <a href="{{ path('cart_delete', {'id':item.product.id}) }}">Supprimer du Panier</a> #}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total : </td>
                        <td>{{ total }} €</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <h3>Votre panier est vide!</h3>
            <i class="fas fa-shopping-cart"></i>
            <p>Allez dans la <a href="{{ path('shop') }}">boutique</a> pour sélectionner des produits!</p>
        {% endif %}
        {% if items %}
            <a class="goBack" href="{{ path('checkout') }}">Confirmer la commande</a>
            <a class="goBack" id="continuerAchats" href="{{ path('shop') }}">Continuez vos achats</a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}