{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/styleHome.css">
{% endblock %}
{% block header %}
    <div id="banner">
        <div id="bannerText">
            <i class="fab fa-wordpress"></i>
            <h1 id="mainTitle">BDE<br/><span id="bde">Panier</span></h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div>
        <h1>Ton Panier</h1>
    </div>
    {% if items | length > 0%}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id':item.product.id}) }}">Supprimer un item</a>
                        </td>

                    </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total : </td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Your cart is empty</p>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="/assets/main/home.js"></script>
{% endblock %}