{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/security/styleSecurity.css">
    <link rel="stylesheet" href="/assets/security/styleLogin.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Sécurité</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="pageContent">
        <h2 id="action">Connexion</h2>
        <form method="post" name="login_form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div id="formEmail" class="formRow">
                <p>Email</p>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div id="formPassword" class="formRow">
                <p>Mot de passe</p>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <button class="registrationFormButton" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
