{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="\assets\main\styleSearch.css">
{% endblock %}


{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Recherche</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div id="content">
    <div class="searchResults">
        <h2>Résultats de recherche pour "{{ keyword }}"</h2>

        <div id="eventResults" class="results">
        {% if eventsCount == 0 %}
            <h3>Produits: aucun résulat trouvé</h3>
        {% elseif eventsCount == 1 %}
            <h3>Produits: un seul résulat trouvé</h3>
        {% else %}
            <h3>Produits: {{ eventsCount }} résulats trouvés</h3>
        {% endif %}
        <div class="resultLinks">
        {% for event in events %}
            <div class="link"><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></div>
        {% endfor %}
        </div>
        </div>

        <div id="productResults" class="results">
        {% if productsCount == 0 %}
            <h3>Événements: aucun résulat trouvé</h3>
        {% elseif productsCount == 1 %}
            <h3>Événements: un seul résulat trouvé</h3>
        {% else %}
            <h3>Événements: {{ productsCount }} résulats trouvés</h3>
        {% endif %}
        <div class="resultLinks">
        {% for product in products %}
            <div class="link"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></div>
        {% endfor %}
        </div>
        </div>

        <div id="productResults" class="results">
        {% if associationsCount == 0 %}
            <h3>Associations: aucun résulat trouvé</h3>
        {% elseif associationsCount == 1 %}
            <h3>Associations: un seul résulat trouvé</h3>
        {% else %}
            <h3>Associations: {{ associationsCount }} résulats trouvés</h3>
        {% endif %}
        <div class="resultLinks">
        {% for association in associations %}
            <div class="link"><a href="{{ path('association_index') }}">{{ association.name }}</a></div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}