{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="\assets\main\gallery\styleGalleryEvent.css">
{% endblock %}


{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Galerie</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div>
        <h2>{{ event.name }}</h2>
        <p>{{ event.description }}</p>
    </div>

    {% if app.user %}
        {{ include('main/gallery/_form.html.twig') }}
    {% endif %}

    {% for gallery in event.galleries %}
    <div>
        <img src="{{ gallery.image }}">
        <p>Posté par {{ gallery.author.firstName }} {{ gallery.author.lastName }}</p>
        {% if app.user %}
            {% if app.user in gallery.users %}
                <i class="fas fa-heart"></i>
            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}
            {% if is_granted('ROLE_BDE') or app.user == gallery.author %}
                <a href="{{ path('gallery_delete', {'yeet': event.id, 'id': gallery.id}) }}">Supprimer la photo</a>
            {% endif %}

            {% if is_granted('ROLE_EMPLOYEE') %}
                <button type="button" id="editEvent" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Signaler</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Signalement pour de l'image de {{ gallery.author.firstName }} {{ gallery.author.lastName }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="{{ path('gallery_report', {'id': event.id}) }}">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Report de : {{ app.user.firstName }} {{ app.user.lastName }}</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea name="report_message" class="form-control" id="message-text"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Signaler</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
