{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/event/styleEvent.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Évènements</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div id="content">
    <div class="event">
        <div id="sortBar">
        {#
            <p id="sort">Trier par : </p>
            <select id="sortBy">
                <option value="date" selected>Date</option>
                <option value="price">Prix</option>
            </select>
            <p id="order">Ordre : </p>
            <select id="orderBy">
                <option value="asc" selected>Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        #}
        </div>
        {% for event in events %}
            <div class="eventCard">
                <p class="eventName">{{ event.name }}</p>
                <p class="eventDay">Le {{ event.date|date('d/m/Y') }}</p>
                <p class="eventHour">à {{ event.date|date('H:i') }}</p>
                <p class="eventDescription">{{ event.description }}</p>
                <p class="eventPrice">Prix: {% if event.price == 0 %}Gratuit{% else %}{{ event.price }} €{% endif %}</p>
                <a class="goToEvent" href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                {% if is_granted('ROLE_BDE') %}
                <a class="editEvent eventButton" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                <a class="deleteEvent eventButton" href="{{ path('event_delete', {'id': event.id}) }}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if is_granted('ROLE_BDE') %}
        <a id="createNew" href="{{ path('event_new') }}">
            <p>+</p>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
