{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <a href="{{ path('association_index') }}">Association Dashboard</a>
    <a href="{{ path('category_index') }}">Category Dashboard</a>
    <a href="{{ path('comment_index') }}">Comments Dashboard</a>
    <a href="{{ path('event_index') }}">Events Dashboard</a>
    <a href="{{ path('gallery_index') }}">Gallery Dashboard</a>
    <a href="{{ path('product_index') }}">Products Dashboard</a>

{% endblock %}
