{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/shop/styleShop.css">
    <link rel="stylesheet" href="/assets/main/shop/styleProduct.css">
{% endblock %}
{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Boutique</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div id="productContent">
        <h2>Produit n°{{ product.id }}</h2>
        <div id="product">
            <img id="productImage" src={{ product.image }}>
            <p id="productName">{{ product.name }}</p>
            <p id="productCategory">Catégorie: {{ product.category.name }}</p>
            {% if product.association %}
                <p id="productAssociation">Association: {{ product.association.name }}</p>
            {% endif %}
            <p id="productStock">{% if product.stock == 0 %}Rupture de stock{% else %}Stock: {{ product.stock }}{% endif %}</p>
            <p id="productPrice">Prix: {% if product.price == 0 %}Gratuit{% elseif product.price == 0.5 %}Fifty cents{% else %}{{ product.price }} €{% endif %}</p>
            <p id="productDescription">{{ product.description }}</p>
            {% if product.stock == 0 %}
                <img class="cartButton" title="En rupture de stock!" src="/assets/icons/cart-cross-solid.svg" width="60" sandbox></img>
            {% else %}
                {% if isInCart %}
                    <a class="cartButton" href="{{ path('cart_remove', {'id': product.id}) }}">
                        <img title="Supprimer du panier" src="/assets/icons/cart-minus-solid.svg" width="60" sandbox></img>
                    </a>
                {% else %}
                    <a class="cartButton" href="{{ path('cart_add', {'id': product.id}) }}">
                        <img title="Ajouter au panier" src="/assets/icons/cart-plus-solid.svg" width="60" sandbox></img>
                    </a>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_BDE') %}
                <a id="editProduct" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                {{ include('main/product/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <a class="goBack" href="{{ path('shop') }}">Retour</a>
    </div>
{% endblock %}
