<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BDE CESI Strasbourg{% endblock %}</title>
        <link rel="stylesheet" href="/assets/styleBase.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        <nav id="nav">
            <lu id="navList">
                <li class="navElement" id="search">
                    <form action="">
                        <input type="text" placeholder="Recherche">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                {% if app.user %}
                <li class="navElement" id="profile"><a href="{{ path('user', {'id': app.user.id}) }}">{{ app.user.firstName }}</a></li>
                <li class="navElement" id="logout"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                <li class="navElement" id="signup"><a href="{{ path('signup') }}">S'inscrire</a></li>
                <li class="navElement" id="login"><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
                <li class="navElement" id="cart"><a href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i></a></li>
            </lu>
        </nav>
        <i class="fas fa-bars" id="menuIcon"></i>
        <div id="sideMenu">
            <div class="menuElement" id="homeLink"><a href="{{ path('home') }}">Accueil</a></div>
            <div class="menuElement" id="eventsLink"><a href="{{ path('event_index') }}">Évènements</a></div>
            <div class="menuElement" id="associationsLink"><a href="{{ path('all_associations') }}">Associations</a></div>
            <div class="menuElement" id="shopLink"><a href="{{ path('shop') }}">Boutique</a></div>
            <div class="menuElement" id="networks">
                <div class="socialNetworks">
                    <a href="https://www.facebook.com/BDECESISTRAS/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/bdecesi.stras/"><i class="fab fa-instagram"></i></a>
                    <a href="https://discord.gg/z7ZNz7v"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            <div class="menuElement" id="cesiLogo">
                <a href="https://www.cesi.fr/"><img src="/assets/pictures/logo-CESI-neg.png"></a>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block footer %}
        <div id="footer">
            <p>Footer</p>
        </div>
        {% endblock %}
        <script src="https://kit.fontawesome.com/f7c32aec99.js" crossorigin="anonymous"></script>
        <script src="/assets/base.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
