{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/association/styleAssociation.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Associations</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div id="content">
    <div class="association">
        {% for association in associations %}
            <div class="associationCard">
                <img class="associationImage" src={{ association.image }} alt="associationImage">
                <p class="associationName">{{ association.name }}</p>
                <p class="associationDescription">{{ association.description }}</p>
                {% if is_granted('ROLE_BDE') %}
                <a class="editAssociation associationButton" href="{{ path('association_edit', {'id': association.id}) }}">Modifier</a>
                <a class="deleteAssociation associationButton" href="{{ path('association_delete', {'id': association.id}) }}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if is_granted('ROLE_BDE') %}
        <a id="createNew" href="{{ path('association_new') }}">
            <p>+</p>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
